*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}
.img-logo{
	width: 70px;
}
.menu{
	width: auto;
	float: right;
	margin-top: 30px;

}
.menu ul{
	display: flex;
}
.menu li{
	list-style: none;
}
.menu li a{
	padding: 18px; 
	padding: 35px;	
}
#check{
	display: none;
}
.icon-menu{
	display: none;
}
@media screen and (max-width: 900px){
	.menu{
		display: none;
	}
}
